
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hello thymeleaf</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<style>
.div {
	margin: 100px;
}
</style>
<body>
	<div class="div">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>회사명</th>
					<th>주소</th>
					<th>담당자</th>
					<th>당담자 부서</th>
					<th>연락처</th>
					<th>E-mail</th>
				</tr>
			</thead>

			<tbody>
				<c:forEach var="item" items="${list}">
					<tr>
						<td>${item.co_id}</td>
						<td>${item.name}</td>
						<td>${item.address}</td>
						<td>${item.manager}</td>
						<td>${item.dept}</td>
						<td>${item.co_call}</td>
						<td>${item.m_email}</td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>