<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Hello thymeleaf</title>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script type="text/javascript">
	$(function(){
		$('.tabmenu').click(function(){
			var activeTab = $(this).attr('data-tab');
			
			/* $('li').css('background-color', 'white');
			$(this).css('background-color', 'blue'); */
			$.ajax({
				type : 'GET',
				url : "/"+activeTab,
				error : function(){
					alert("통신 실패!");
				},
				
				success : function(data){
					$('#tabcontent').html(data);
				}
			});
		});
		$('#default').click();
	});
	
</script>
</head>

<body>

	<ul class="nav nav-pills">
		<li data-tab="tab1" class="tabmenu"><a href="#">제품</a></li>
		<li data-tab="tab2" class="tabmenu"><a href="#">담당자이력</a></li>
		<li data-tab="tab3" class="tabmenu"><a href="#">SR</a></li>
	</ul>
	<div id="tabcontent"></div>
	
	<div>
	
	이건 어디에 있을까
	</div>


</body>
</html>